<app-menu></app-menu>

<div>
    <div class="cont1">
        <h1>Sobre nosotros</h1>
        <br>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse congue erat quis tellus semper blandit. 
            Aenean at neque ligula. Phasellus finibus elit elit. 
            Fusce dictum nulla id volutpat consectetur. 
            Mauris dapibus nulla nec ipsum accumsan, nec fermentum massa vestibulum. Sed ac volutpat dolor. 
            Curabitur consequat turpis at fermentum aliquam. Quisque porttitor egestas est, eu mollis sem facilisis quis. 
            Sed magna libero, dictum eget iaculis vel, hendrerit sed augue. Maecenas cursus lectus est.
            
            Maecenas eget ex luctus, aliquam ipsum eu, aliquet dui. 
            Duis sed neque ac turpis bibendum accumsan blandit volutpat ipsum. 
            Nullam eu lorem ac neque semper porta sed id diam. Duis turpis sapien, 
            commodo vitae augue quis, rutrum dapibus elit. Ut interdum sem eu nisl tristique cursus. 
            Ut bibendum justo id nulla feugiat aliquet. Aenean tincidunt elit non venenatis vestibulum. 
            Maecenas quis dolor at arcu convallis feugiat. 
            Sed aliquam varius condimentum. Vestibulum turpis lacus, finibus vitae rhoncus sed, placerat quis orci. 
            Donec vel libero lacinia, lacinia enim non, pharetra velit. 
            Morbi feugiat interdum ligula. Aenean vel massa eget sapien gravida sollicitudin. 
            Donec eget magna quis elit vestibulum tempus at commodo ex. Mauris molestie augue vitae porttitor tempus.
         </article>
    </div>
    
    <div class="cont2">
        <br>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse congue erat quis tellus semper blandit. 
            Aenean at neque ligula. Phasellus finibus elit elit. 
            Fusce dictum nulla id volutpat consectetur. 
            Mauris dapibus nulla nec ipsum accumsan, nec fermentum massa vestibulum. Sed ac volutpat dolor. 
            Curabitur consequat turpis at fermentum aliquam. Quisque porttitor egestas est, eu mollis sem facilisis quis. 
            Sed magna libero, dictum eget iaculis vel, hendrerit sed augue. Maecenas cursus lectus est.
            
            Maecenas eget ex luctus, aliquam ipsum eu, aliquet dui. 
            Duis sed neque ac turpis bibendum accumsan blandit volutpat ipsum. 
            Nullam eu lorem ac neque semper porta sed id diam. Duis turpis sapien, 
            commodo vitae augue quis, rutrum dapibus elit. Ut interdum sem eu nisl tristique cursus. 
            Ut bibendum justo id nulla feugiat aliquet. Aenean tincidunt elit non venenatis vestibulum. 
            Maecenas quis dolor at arcu convallis feugiat. 
            Sed aliquam varius condimentum. Vestibulum turpis lacus, finibus vitae rhoncus sed, placerat quis orci. 
            Donec vel libero lacinia, lacinia enim non, pharetra velit. 
            Morbi feugiat interdum ligula. Aenean vel massa eget sapien gravida sollicitudin. 
            Donec eget magna quis elit vestibulum tempus at commodo ex. Mauris molestie augue vitae porttitor tempus.
         </article>
    </div>
</div>


