<!-- 
<div> 
  <button (click)="insertar()"  [disabled]="insertarDeshabilitado">Insertar</button>
  <button (click)="modificar()" [disabled]="modificarBorrarDeshabilitado">Modificar</button>
  <button (click)="borrar()"    [disabled]="modificarBorrarDeshabilitado">Borrar</button>
  <button (click)="vaciar()">Vaciar</button>
</div>
-->
<br/>

<div>
  <button *ngFor="let op of botones; index as i" [id]="op" (click)="operar($event.target)">
    {{op}}
  </button>
  <br>
  <br>
  <label for="idVideojuego">ID</label>
  <div>
      <input id="idVideojuego" type="text" [disabled]="disable" [(ngModel)]="id"/>
      
  </div>
  <br>
  <label for="titulov">TITULO</label>
  <div>
      <input id="titulov" type="text" [(ngModel)]="titulo"/>
      
  </div>

  <br>
  <label for="compv">COMPAÑIA</label>
  <div>
      <input id="compv" type="text" [(ngModel)]="comp"/>
  </div>

  <br>
  <label for="valorv">VALORACION</label>
  <div>
      <input id="valorv" type="text"  [(ngModel)]="valoracion"/>
      
  </div>

  <table>    
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Titulo</th>
            <th>Universo</th>
        </tr>
    </thead>
    <tbody>
        <!-- 
            Recorremos la lista, y si pulsamos en alguna fila, ejecutaremos el metodo
            "seleccionar", pasandole el videojuego seleccionado
        -->
        <tr *ngFor="let v of vlist; index as i" (click)="seleccionar(v)">
            <td>{{ v.id }}</td>
            <td>{{ v.titulo }}</td>
            <td>{{ v.comp }}</td>
            <td>{{ v.valoracion }}</td>
        </tr>
        <tr *ngIf="vlist.length==0">
            <td class="rojo" colspan="4">
                NO SE HAN ENCONTRADO VIDEOJUEGOS
            </td>
        </tr>
    </tbody>
</table> 
  
</div>    