 tr, td, th{
    border: 1px solid black;
    text-align: center;
    
}
table{
    margin-top: 5%;
    background-color: aqua;
}

.rojo{
    color: red;
}

input{
    margin-left: 5px;
}

button{
    margin:0.10%;
}