div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    margin-bottom: 2%;
    
}
img{
    width: 300px;
}

article{
    background-color: white;
}
