nav{
    color: whitesmoke;
    background-image: url('https://clipartcraft.com/images250_/transparent-textures-black-5.png');
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}