<main>
  <header>
      <h2>{{nombre}}</h2>
      <h4 id="grado">{{titulo}}</h4>
      <a href="https://github.com/juliolopez615"><div class="git">
          Mi github
      </div></a>
  </header>

  <img class="fotoCv" src=".\assets\foto.jpg"/>
  <div class="container">

      <div class="columna1">
          <div id="personal">
              <section>
                  <h2 class="titulo">{{titulo1}}</h2>
                  <hr class="line" />
                  <br>
                  <article class="artic">
                      <p id="descripcionPersonal">{{descripcion}}</p>
                  </article>
              </section>
          </div>

          <div id="datosContacto">
              <section>
                  <h2 class="titulo">{{titulo2}}</h2>
                  <hr class="line" />
                  <br>
                  <article class="artic">
                      <ul>
                          <li><b>Móvil:</b> 612345678</li><br />
                          <li><b>Correo:</b> juliolopez@gmail.com</li><br />
                      </ul>
                  </article>
              </section>
          </div>

          <div id="destrezas">
              <section>
                  <h2 class="titulo">{{titulo3}}</h2>
                  <hr class="line" />
                  <br>
                  <article class="artic">
                      <ul>
                          <li>Aprendizaje rápido</li><br />
                          <li>Trabajo en equipo</li><br />
                          <li>Compromiso</li><br />
                          <li>Motivación para aprender</li><br />
                          <li>Inglés</li><br />
                      </ul>
                  </article>
              </section>
          </div>
      </div>

      <div class="columna2">
          <div id="conocimientos">
              <section>
                  <h2 class="titulo">{{titulo4}}</h2>
                  <hr class="line" />
                  <br>
                  <article class="artic">
                      <ul>
                          <li><b>Frameworks:</b> Django, Web2py, React </li><br />
                          <li><b>Scrapeo de datos</b></li><br />
                          <li><b>Bases de datos:</b> MongoDb, SQL, Neo4j y Redis </li><br />
                          <li><b>Lenguajes programación:</b> Python, C, C++, R, Java, JavaScript</li><br />
                          <li><b>AWS</b></li><br />

                      </ul>
                  </article>
              </section>
          </div>

          <div>
              <section>
                  <h2 class="titulo">{{titulo5}}</h2>
                  <hr class="line" />
                  <br>
                  <article class="artic">
                      <h3>Gestión de contenidos Web de Deplon (E-Comerce de deportes)</h3>
                      <p id="descripcionEmpleo">{{descripcionEmpleo}}
                      </p>
                  </article>
              </section>
          </div>

          <div id="formacion">
              <section>
                  <h2 class="titulo">{{titulo6}}</h2>
                  <hr class="line" />
                  <br>
                  <article class="artic">
                      <h3>Colegio San Patricio</h3>
                      <p>Obtención título bachillerato</p>
                  </article>
                  <br>
                  <article class="artic">
                      <h3>Universidad U-TAD</h3>
                      <p>Grado en ingeniería de Software con mención en Big Data</p>
                      <p>{{current}}</p>
                  </article>
              </section>
          </div>


      </div>

  </div>

  <footer>

  </footer>

</main>
